name: danawallet
description: A silent payments wallet built in flutter.
publish_to: 'none'
version: 0.6.3+17

environment:
  sdk: ^3.5.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  rust_lib_danawallet:
    path: rust_builder
  flutter_rust_bridge: 2.11.1
  flutter_secure_storage: ^9.0.0
  provider: ^6.1.1
  barcode: ^2.2.5
  barcode_widget: ^2.0.4
  bitcoin_ui:
    git:
      url: https://github.com/cygnet3/bitcoinui-flutter
      ref: widget-body
  logger: ^2.4.0
  shared_preferences: ^2.3.2
  crypto: ^3.0.5
  freezed_annotation: ^2.4.1
  ffi: ^2.1.0
  permission_handler: ^11.3.1
  dart_bip353:
    git:
      url: https://github.com/cygnet3/dart_bip353.git
      ref: main
  http: ^1.2.2
  mobile_scanner: ^6.0.2
  file_picker: ^9.0.2
  flutter_svg: ^2.0.17
  flutter_spinkit: ^5.2.1
  dots_indicator: ^4.0.1
  sizer: ^3.0.4
  url_launcher: ^6.3.1
  share_plus: ^11.0.0
  auto_size_text: ^3.0.0

# temporary fix, see: https://github.com/juliansteenbakker/flutter_secure_storage/issues/920
dependency_overrides:
  flutter_secure_storage_linux:
    git:
      url: https://github.com/m-berto/flutter_secure_storage.git
      ref: patch-2
      path: flutter_secure_storage_linux
  flutter_secure_storage_platform_interface: 2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  ffigen: ^12.0.0
  build_runner: ^2.4.6
  freezed: ^2.4.2

flutter:
  # if no build flavor is provided, use the dev flavor as default
  default-flavor: dev
  uses-material-design: true

  assets:
    - assets/icons/

  fonts:
    - family: Space grotesk
      fonts:
        - asset: fonts/SpaceGrotesk-Light.ttf
          weight: 300
        - asset: fonts/SpaceGrotesk-Regular.ttf
          weight: 400
        - asset: fonts/SpaceGrotesk-Medium.ttf
          weight: 500
        - asset: fonts/SpaceGrotesk-SemiBold.ttf
          weight: 600
        - asset: fonts/SpaceGrotesk-Bold.ttf
          weight: 700
