name: danawallet
description: A silent payments wallet built in flutter.
publish_to: 'none'
version: 0.7.1-nightly.3+24

environment:
  sdk: ^3.5.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  rust_lib_danawallet:
    path: rust_builder
  flutter_rust_bridge: 2.11.1
  flutter_secure_storage: ^10.0.0
  provider: ^6.1.1
  barcode: ^2.2.5
  barcode_widget: ^2.0.4
  bitcoin_ui:
    git:
      url: https://github.com/cygnet3/bitcoinui-flutter
      ref: widget-body
  logger: ^2.4.0
  shared_preferences: ^2.3.2
  crypto: ^3.0.5
  freezed_annotation: ^2.4.1
  ffi: ^2.1.0
  permission_handler: ^11.3.1
  dart_bip353:
    git:
      url: https://github.com/cygnet3/dart_bip353.git
      ref: main
  http: ^1.2.2
  mobile_scanner: ^6.0.2
  file_picker: ^9.0.2
  flutter_svg: ^2.0.17
  flutter_spinkit: ^5.2.1
  dots_indicator: ^4.0.1
  sizer: ^3.0.4
  url_launcher: ^6.3.1
  share_plus: ^11.0.0
  auto_size_text: ^3.0.0
  text_scroll: ^0.2.1
  sqflite: ^2.4.1
  sqflite_common_ffi: any
  path: ^1.9.1
  collection: ^1.19.1

dependency_overrides:
  # Pin url_launcher_android to avoid AGP 8.9.1 requirement (androidx.browser:1.9.0, androidx.core:1.17.0)
  url_launcher_android: 6.3.20

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  ffigen: ^12.0.0
  build_runner: ^2.4.6
  freezed: ^2.4.2

flutter:
  # if no build flavor is provided, use the local flavor as default
  default-flavor: local
  uses-material-design: true

  assets:
    - assets/icons/

  fonts:
    - family: Space grotesk
      fonts:
        - asset: fonts/SpaceGrotesk-Light.ttf
          weight: 300
        - asset: fonts/SpaceGrotesk-Regular.ttf
          weight: 400
        - asset: fonts/SpaceGrotesk-Medium.ttf
          weight: 500
        - asset: fonts/SpaceGrotesk-SemiBold.ttf
          weight: 600
        - asset: fonts/SpaceGrotesk-Bold.ttf
          weight: 700
